RewriteEngine on
# directory browsing
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteRule ^login/?$     pages/page_login.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^register/?$     pages/page_register.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^logout/?$     pages/page_logout.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^item/([^/.]+)/([^/.]+)/{0,1}$   pages/page_item.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^contact/?$     pages/page_contact.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^about/?$     pages/page_about.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^documentation/?$     pages/page_documentation.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^statistics/?$     pages/page_stat.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^Citation/?$     pages/page_citation.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^citation/?$     pages/page_citation.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^privacy/?$     pages/page_privacy.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^user/?$     pages/page_user.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^logout/?$     pages/page_logout.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^pricing/?$     pages/page_pricing.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^checkout/?$     pages/page_checkout.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^catalog/?$     pages/page_catalog.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^search_catalog/?$     pages/page_search_catalog.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^genre/([^/.]+)/?$   pages/page_tags.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^category/([^/.]+)/?$   pages/page_category.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^recover/?$    pages/page_recover_account.php?module=photos&key=$1&value2=$2 [QSA,L]
RewriteRule ^reset_pw/?$    pages/page_reset_password.php?module=photos&key=$1&value2=$2 [QSA,L]
ErrorDocument 404 http://196.200.148.23/
# MAINTENANCE-PAGE REDIRECT
#<IfModule mod_rewrite.c>
# RewriteEngine on
# RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
# RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
# RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
# RewriteCond %{REQUEST_URI} !/maintenance.html$ [NC]
# RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
# RewriteRule .* /maintenance.html [R=302,L]
#</IfModule>